

body {
  background-color: rgb(211, 211, 211);
  font-family: Arial, Helvetica, sans-serif;
}

.main-title {
  margin-top: 5%;
  margin-left: 6%;
  border-radius: 6px;
  max-width: 80%;
  height: auto; 
  box-shadow: 7px 7px 7px black;
}

/* Answer input styling */

#myText, #myText2, #myText3 {
  background: transparent; 
  border: none; 
  border-bottom: 2px solid black;
  color: black;
  font-size: 18px;
  text-align: center;
}

textarea:focus, input:focus{
  outline: none;
}

/* Question 1 */

.quizAreaOne {
  color: rgb(255, 255, 255);
  max-width: 80%;
  border: 1px solid white;
  margin-left: 6%;
  margin-top: 4%;
  padding-bottom: 5;
  background-image:url(images/comp1.png);
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  text-align: center;
  font-size: 27px;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  box-shadow: 7px 7px 10px black

}

.quizAreaOne:hover {
  background-image: url(images/comp12.png);
  background-position: center;
  background-size: cover;
}

.submit1, .submit2, .submit3 {
  margin: 2%;
  background-color: #000000;
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

#showContainer {
  visibility: hidden;
  font-size: 20px;
}

#correctanswer1 {
  border: 2px black;
}

/* Question 2*/

.quizAreaTwo {
  color: rgb(255, 255, 255);
  max-width: 80%;
  border: 1px solid white;
  margin-left: 6%;
  margin-top: 4%;
  padding-bottom: 5;
  background-image:url(images/comp2.png);
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  box-shadow: 7px 7px 10px black

}

.quizAreaTwo:hover {
  background-image: url(images/comp22.png);
  background-position: center;
  background-size: cover;
}

.submit2 {
  margin: 2%
}

#showContainer2 {
  visibility: hidden;
}

/* Question 3 */

.quizAreaThree {
  color: rgb(255, 255, 255);
  max-width: 80%;
  border: 1px solid white;
  margin-left: 6%;
  margin-top: 4%;
  padding-bottom: 5;
  background-image:url(images/comp3.png);
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  text-align: center;
  font-size: 27px;
  text-shadow: 2px 2px 1px rgb(0, 0, 0);
  box-shadow: 7px 7px 10px black;
  margin-bottom: 3%;
}

.quizAreaThree:hover {
  background-image: url(images/comp33.png);
  background-position: center;
  background-size: cover;
}

.submit3 {
  margin: 2%
}

#showContainer3 {
  visibility: hidden;
}

